protocol-union-api:
  replicas: 3
  service:
    nodePort: 30118
  resources:
    jvm:
      xmx_megabytes: 1024
      max_direct_memory_megabytes: 256

protocol-union-listener:
  resources:
    jvm:
      xmx_megabytes: 4096
      max_direct_memory_megabytes: 1024

protocol-union-meta-loader:
  replicas: 8
  resources:
    jvm:
      xmx_megabytes: 1536

protocol-union-indexer:
  replicas: 3
  resources:
    jvm:
      xmx_megabytes: 768
      max_direct_memory_megabytes: 256

protocol-union-worker:
  resources:
    jvm:
      xmx_megabytes: 512
      max_direct_memory_megabytes: 128
