application:
  project: protocol

server:
  shutdown: graceful
  port: 8080

spring:
  application.name: union-api
  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_ENUMS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
    default-property-inclusion: non_null
  main:
    banner-mode: log
    web-application-type: reactive

rarible:
  core:
    apm:
      agent:
        enabled: true
        server: http://elk_apm-server:8200
        packages: com.rarible.protocol.union.api
      web:
        filter:
          enabled: true
      annotation:
        enabled: true
  ethereum:
    converter:
      enabled: true
  loader:
    broker-replica-set: ${kafka.hosts}
    topicsPrefix: protocol.${application.environment}.union.internal.loader
    enableWorkers: false
    enableNotifications: false
    enableRetrySchedulerJob: false

api:
  openapi:
    baseUrl: "https://api-dev.rarible.org"
    description: "Development (Ropsten, Mumbai, Hangzhou)"
  subscribe:
    workers:
      item: 4
      ownership: 4

integration:
  ethereum:
    enabled: ${consul.ethereum.enabled:true}
    auctionContracts: ${consul.ethereum.auctionContracts:}
  polygon:
    enabled: ${consul.polygon.enabled:true}
    auctionContracts: ${consul.polygon.auctionContracts:}
  flow:
    enabled: ${consul.flow.enabled:true}
    auctionContracts: ${consul.flow.auctionContracts:}
  tezos:
    enabled: ${consul.tezos.enabled:true}
    dipdup:
      enabled: ${consul.tezos.dipdup.enabled:false}
      dipdupUrl: ${consul.tezos.dipdup.dipdupUrl:}
      tzktUrl: ${consul.tezos.dipdup.tzktUrl:}
      ipfsUrl: ${consul.tezos.dipdup.ipfsUrl:"https://ipfs.io"}
      knownAddresses:
        hen: ${consul.tezos.dipdup.knownAddresses.hen:}
        henRoyalties: ${consul.tezos.dipdup.knownAddresses.henRoyalties:}
        kalamint: ${consul.tezos.dipdup.knownAddresses.kalamint:}
        fxhashV1: ${consul.tezos.dipdup.knownAddresses.fxhashV1:}
        fxhashV1Manager: ${consul.tezos.dipdup.knownAddresses.fxhashV1Manager:}
        fxhashV2: ${consul.tezos.dipdup.knownAddresses.fxhashV2:}
        versum: ${consul.tezos.dipdup.knownAddresses.versum:}
        royaltiesManager: ${consul.tezos.dipdup.knownAddresses.royaltiesManager:}
        bidou8x8: ${consul.tezos.dipdup.knownAddresses.bidou8x8:}
        bidou24x24: ${consul.tezos.dipdup.knownAddresses.bidou24x24:}
    client:
      url: ${consul.tezos.api.baseUrl:}
    pg:
      host: ${consul.tezos.pg.host:}
      port: ${consul.tezos.pg.port:}
      user: ${consul.tezos.pg.user:}
      password: ${consul.tezos.pg.password:}
      database: ${consul.tezos.pg.database:}
    auctionContracts: ${consul.tezos.auctionContracts:}
  solana:
    enabled: ${consul.solana.enabled:false}
  immutablex:
    enabled: ${consul.immutablex.enabled:true}
    client:
      url: ${consul.immutablex.api.baseUrl:}
    apiKey: ${consul.immutablex.api.key:}
common:
  producer:
    broker-replica-set: ${kafka.hosts}
  currency:
    refresh:
      cron: "0 0/30 * * * *"
  feature-flags:
    enableRevertedActivityEventSending: false
    enableOwnershipSourceEnrichment: false
    enableItemLastSaleEnrichment: true
    enableLegacyWrappedEventTopic: true

meta:
  ipfsGateway: "https://ipfs.io,https://nftstorage.link"
  ipfsPublicGateway: "https://ipfs.io"
  ipfsLegacyGateway: "https://rarible.mypinata.cloud"
  mediaFetchTimeout: 10000
  mediaFetchMaxSize: 131072 # 128 Kb
  openSeaProxyUrl: ${consul.meta.openSeaProxyUrl}
  http-client:
    type: KTOR_CIO
    thread-count: 1
    time-out: 10000
    total-connection: 1000

# Disable verbose logs of Apache HTTP client used to load content media metadata.
logging:
  level:
    org.apache.http: ERROR
